body {
  margin: 0;
  text-align: center;
  font-family: 'Inconsolata', monospace, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

h2 {
  padding-bottom: 10px;
  margin: 40px 0;
}

p {
  line-height: 2;
}

a {
  color: #40514E;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #ffffff;
}

.navbar {
  background-color: #0f0f0f;
}

.intro {
  height: 100vh;
  padding: 200px 0;
}

.intro h1 {
  margin: 0 auto 10px auto;
  font-size: 4.125rem;
  font-family: 'Courgette', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: linear-gradient( 90.6deg,  rgba(59,158,255,1) -1.2%, rgba(246,135,255,1) 91.6% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p {
  font-family: 'Courgette', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-image: radial-gradient( circle farthest-corner at 11.7% 80.6%,  rgba(249,185,255,1) 0%, rgba(177,172,255,1) 49.3%, rgba(98,203,255,1) 89% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
  font-size: 3.44rem;
  font-weight: bold;
  margin: 0;
}

#text {
  overflow: hidden;
	margin: 50px auto;
	font-size: 30px;
  display: inline-block;
  width: 480px;
}

#text:after {
  content: '';
  display: inline-block;
	background-color: white;
	margin-left: 2px;
	height: 30px;
  width: 4px;
  animation: cursor 0.4s infinite;
}
/* The typewriter cursor effect */
@keyframes cursor {
  0% { opacity: 1; }
	49% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 0; }
}

.animated {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position: relative;
  margin: 50px auto;
}
/* Animation */
.animated {
  animation: animated-text 2s steps(30,end) 1s 1 normal both
}
/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 480px;}
}

.about-text {
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 90%;
  overflow: hidden;
  padding: 5% 20%;
  margin: 70px auto;
  text-align: left;
  border-radius: 25px;
  background-color: #1c1c1c;
}

.obj-icon-a {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 30px;
}

.obj-icon-b {
  width: 250px;
  height: 250px;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.contact-btn {
  background: #ee8fff;
  background-image: -webkit-linear-gradient(top, #ee8fff, #17d8ed);
  background-image: -moz-linear-gradient(top, #ee8fff, #17d8ed);
  background-image: -ms-linear-gradient(top, #ee8fff, #17d8ed);
  background-image: -o-linear-gradient(top, #ee8fff, #17d8ed);
  background-image: linear-gradient(68.4deg, #ee8fff, #17d8ed);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #e66bff;
  background-image: -webkit-linear-gradient(top, #e66bff, #1fcede);
  background-image: -moz-linear-gradient(top, #e66bff, #1fcede);
  background-image: -ms-linear-gradient(top, #e66bff, #1fcede);
  background-image: -o-linear-gradient(top, #e66bff, #1fcede);
  background-image: linear-gradient(68.4deg, #e66bff, #1fcede);
  text-decoration: none;
}

.bottom-container {
  background-image: linear-gradient( 180.3deg,  rgba(214,224,255,1) 37.2%, rgba(254,168,168,1) 137.3% );
  padding: 50px 0 20px 0;
}

.copyright {
  font-size: 1rem;
  color: #ffffff;
  padding: 20px 0;
}
